html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;

  width: 100%;
}

.robot {
  width: 320px;

  height: 240px;
  margin: 0 auto;
  position: relative;
}

.robot-body {
  width: 320px;

  position: absolute;
  bottom: 0;
}

.robot-brain {
  width: 46px;

  position: absolute;
  top: 60px;
  left: 136px;
  z-index: 50;
}

.robot-head-right,
.robot-head-left {
  width: 125px;

  position: absolute;
  top: 20px;
  z-index: 1000;
}

.robot-head-right {
  right: 36px;
}

.robot-head-left {
  left: 36px;
}

.robot:hover {
  background-color: #2b3851;
}

.robot:hover .robot-brain {
  top: 38px;
}

.robot:hover .robot-head-right {
  top: 8px;
  right: 1px;
}

.robot:hover .robot-head-left {
  top: 8px;
  left: 1px;
}
