html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;

  width: 100%;
  padding-top: 3.5rem;
}

.robot {
  width: 320px;

  margin: auto;
}

.robot-body {
  width: 320px;

  position: relative;
  vertical-align: bottom;
}

.robot-brain {
  width: 46px;

  position: absolute;
  top: 7%;
  left: 47.5%;
  z-index: 50;
}

.robot-head-right,
.robot-head-left {
  width: 125px;

  position: absolute;
  top: 2.2%;
  z-index: 1000;
}

.robot-head-right {
  left: 50%;
}

.robot-head-left {
  right: 50%;
}

.robot:hover {
  background-color: #2b3851;
}

.robot:hover .robot-brain {
  top: 4.5%;
}

.robot:hover .robot-head-right {
  top: 1%;
  right: 63.5%;
}

.robot:hover .robot-head-left {
  top: 1%;
  left: 36.5%;
}
